.wish-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  &__empty {
    font-size: 25px;
    margin: 30px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}